doctype html
.off-canvas-wrap.docs-wrap( data-offcanvas )
  .inner-wrap
    nav.tab-bar
      section.left-small
        a.left-off-canvas-toggle.menu-icon
          span
      section.right.tab-bar-section
        h1.title Pomodoro by RenderTeam
    aside.left-off-canvas-menu
      ul.off-canvas-list
        li
          label Pomodoro
        li
          a( href = '#' ) Numbers
        li
          a( href = '#' ) Graphics
        li
          a( href = '#' ) MembersCards
        li
          a( href = '#' ) Logros
        li
          label Render Github
        li
          a( href = '#' ) MainPage
        li
          a( href = '#' ) ProyectPage
        li
          label Consulting
        li
          a( href = '#' ) Foundation
        li
          a( href = '#' ) Bootstrap
    section.main-section
      .row
        .large-12.columns
          h1
            | Proyecto que se esté trabajando
            h4.subheader Let's work and make Render Awesome.
          hr
        .row
          .large-9.columns
            .large-12.columns
            |Graphic
            hr
            form
              fieldset
                legend Trabajo de Hoy
                .large-7.columns
                  label
                    | Que vas a hacer 
                    small required
                    input(
                      type = 'text'
                      placeholder = 'Breve descripcion de lo que vas a hacer hoy' 
                      required
                    )
                .large-4.columns
                  label
                    .name-field
                    | Con Quien
                    input(
                      type = 'text'
                      placeholder = 'Trabajaras con'
                      pattern = '[a-zA-Z]+'
                      required
                    )
                .large-1.columns
                  label Add
                    button(type='submit').tiny +
            hr
            | Ng-repeat participants
          .large-3.columns
            h5 Let's Work
            ul.side-nav
              li
                .button.button.radious.round Let's Work NOW!
              li
                h2|Time restante Here
            .large-12.columns
              .panel
                h5 Chat
                  p
                    | Only important things.
              .row.collapse
                .small-10.columns
                  input(type='text', placeholder='Chatiar')
                .small-2.columns
                  a.button.postfix(href='#') Go
        footer.row
          .large-12.columns
            hr
            .row
              .large-6.columns
                h6.subheader © RenderTeam
              .large-6.columns
                ul.inline-list.right