doctype html

.off-canvas-wrap.docs-wrap( data-offcanvas )
  .inner-wrap
    nav.tab-bar
      section.left-small
        a.left-off-canvas-toggle.menu-icon
          span
      section.right.tab-bar-section
        h1.title Pomodoro by RenderTeam
    aside.left-off-canvas-menu
      ul.off-canvas-list
        li
          label Pomodoro
        li
          a( href = '#' ) Numbers
        li
          a( href = '#' ) Graphics
        li
          a( href = '#' ) MembersCards
        li
          a( href = '#' ) Logros
        li
          label Render Github
        li
          a( href = '#' ) MainPage
        li
          a( href = '#' ) ProyectPage
        li
          label Consulting
        li
          a( href = '#' ) Foundation
        li
          a( href = '#' ) Bootstrap
    section.main-section
      .row
          hr
        .row
          .large-9.columns
            .large-12.columns
            |Graphic
            hr
            form
              fieldset
                legend Trabajo de Hoy
                .large-7.columns
                  label
                    | Que vas a hacer
                    small required
                    input(
                      type = 'text'
                      placeholder = 'Breve descripcion de lo que vas a hacer hoy'
                      required
                    )
                .large-4.columns
                  label
                    .name-field
                    | Con Quien
                    input(
                      type = 'text'
                      placeholder = 'Trabajaras con'
                      pattern = '[a-zA-Z]+'
                      required
                    )
                .large-1.columns
                  label Add
                    button(type='submit').tiny +
            hr
            | Ng-repeat participants
          .large-3.columns
            h5 Let's Work
            ul.side-nav
              li.text-center
                .button.button.radious Let's Work NOW!
              li
                h2.text-center 00:00
            .large-12.columns.chat
                  //- .panel
                  div(
                    ng-repeat = 'message in messages'
                  )
                    p(ng-bind = 'message.username')
                    p(ng-bind = 'message.message')
                    p(ng-bind = 'message.date')

              .row.collapse
                .small-8.columns
                  input(
                    ng-model = 'message'
                    type = 'text'
                    placeholder = 'Nanananana....'
                  )
                .small-4.columns
                  a.button.success.postfix( ng-click = 'sendMessage()' ) Send
        footer.row
          .large-12.columns
            hr
            .row
              .large-6.columns
                h6.subheader © RenderTeam
              .large-6.columns
                ul.inline-list.right
