.row
    .large-12.columns
        h1
          | Pomodoro 
          small Let's work and make Render Awesome.
        hr
    .row
      .large-9.columns
        large-3.columns
          |Graphic
          hr
          |What to do , With QUien , Add
          hr
          |Ng-repeat participants
      .large-3.columns
        h5 Let's Work
        ul.side-nav
          li
            .button.button Let's Work NOW!
          li
            h2|Time restante Here
        .panel
          h5 Chat
          p
            | Only important things.
    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © RenderTeam
          .large-6.columns
            ul.inline-list.right
