doctype html
html(
  ng-app = 'focus'
)
  head
    meta( charset = 'utf8' )
    base( href = '/' )
    title Angular Express Browserify

    link(
      href = '/css/app.css'
      rel = 'stylesheet'
    )
  body
    block body

    script( src = '/socket.io/socket.io.js' )
    script( src = '/js/app.min.js' )
